<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>rap battle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullScreen="true">

  <div class="upperDiv">
    <img src="./assets/imgs/user4.png">
    <div routerLink="/others-profile" class="userInfo ion-text-center">
      <p class="white">Angelina Julie, Paris, France</p>
      <ion-button shape="round">00:30</ion-button>
    </div>
    <img class="floatingImgs leftTop" src="./assets/imgs/user6.png">
    <img class="floatingImgs leftBottom" src="./assets/imgs/user7.png">
  </div>

  <div class="bottomDiv">
    <img src="./assets/imgs/user5.png">
    <div routerLink="/others-profile" class="userInfo ion-text-center">
      <p class="white">Angelina Julie, Paris, France</p>
      <ion-button shape="round">00:30</ion-button>
    </div>
    <img class="floatingImgs leftTop" src="./assets/imgs/user8.png">
    <img class="floatingImgs leftBottom" src="./assets/imgs/user9.png">
  </div>

</ion-content>