<!-- <ion-header>
  <ion-toolbar>
    <ion-title>reset password</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding bgGradient">

    <div class="ion-text-center white mt-3 mb-6">
        <img src="./assets/imgs/Logo.png">
        <h2>Reset your password</h2>
        <p>Enter your registered Email address to get a password reset link.</p>
    </div>

    <p class="appTxt white mb-0">E-MAIL</p>
    <ion-item class="loginInputs bg-none rounded mb-1" lines="none">
        <ion-input class="white" type="email" [(ngModel)]="email" placeholder="Email address"></ion-input>
    </ion-item>

    <ion-button expand="block" color="lighter" class="rounded h-50" [disabled]="!email" (click)="resetPassword()">Submit</ion-button>
    <ion-button routerLink="/login" routerDirection="back" fill="clear" expand="block" color="lighter" class="h-50">
        Back to Login
    </ion-button>

</ion-content>