<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35811702656-pk3idlnq38p4t45duve26i0let4c1ruf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35811702656-pk3idlnq38p4t45duve26i0let4c1ruf</string>
	<key>API_KEY</key>
	<string>AIzaSyDMN5892ksK9I-SFon7dJVgYeej8HTce1Y</string>
	<key>GCM_SENDER_ID</key>
	<string>35811702656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nemesis.app</string>
	<key>PROJECT_ID</key>
	<string>nemesis-d3a6e</string>
	<key>STORAGE_BUCKET</key>
	<string>nemesis-d3a6e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35811702656:ios:2426329162bbcc3306b365</string>
	<key>DATABASE_URL</key>
	<string>https://nemesis-d3a6e.firebaseio.com</string>
</dict>
</plist>