<ion-header class="gradientHeader">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>about us</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <h5>Look around you: Our Earth and our people are dying.</h5>
    <p>Every day we are faced with the stark reality that we, as a people, are failing our planet and sabotaging our future. As global temperatures rise, human suffering increases, landfills overflow, coral reefs are dying, infant mortality rates are skyrocketing,
        and our natural resources are depleting, the human race is being called upon to make serious systemic, societal, and behavioral changes that could well determine our ability to survive as a species.</p>
    <p>At Nemesis Vs (Perennial Enterprise's Inc), we believe each of us holds a direct moral obligation to face down injustice, reform policy, support just causes, and demand change – all in the name of our unified global survival.</p>
    <h5>What to do</h5>
    <p>Nemesis Vs (Perennial Enterprise's Inc) was founded in ::YEARFOUNDED::, committed to driving dramatic lasting change for our world. Based solidly on The Law of Cause and Effect, Nemesis Vs (Perennial Enterprise's Inc) believes that in order tosave
        our future, we must first address our past and improve our present. We believe that to save our world, individuals, businesses, and governmental agencies must rise up together in solidarity to restore our Earth and our very humanity.</p>
    <p>More than a social network, Nemesis Vs (Perennial Enterprise's Inc) is a Social Enterprise committed to cultivating lasting change in the name of equality, prosperity, and the survival of our planet. We understand that multiple problems need to be
        addressed at once, and Nemesis Vs (Perennial Enterprise's Inc)is committed to dedicating 50% of our total profits to ending homelessness, restoring coral reefs, reducing CO2 levels, and rebuilding our communities. </p>
    <p>We understand that we are existing in a state of emergency, and if we choose to do nothing today, we are forfeiting any possibility of a future for ourselves, our children, and all future generations. </p>
    <h5>About Our Founder</h5>
    <p>Growing up in Compton, California, Reginald Morgan has long been worried about the state of our country, our humanity, and our world. With a passion for fighting injustice and defending our planet, Reginald established Nemesis Vs (Perennial Enterprise's
        Inc) to do his part to cultivate lasting change and lead a movement for other eco-minded, social justice driven, and equality focused individuals to unite and protect our dying planet and it’s inhabitants. For over four years, Reginald has worked
        two jobs for sixteen hours a day in order to facilitate the lasting change he knows is necessary for our survival, specifically focusing his energy in his passion eradicating homelessness, healing the coral reefs, and fighting injustice in all
        forms.
    </p>

</ion-content>