.profileImg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid var(--ion-color-primary);
    position: relative;
}

.editIcon {
    position: absolute;
    top: 87px;
    right: 150px;
    font-size: 22px;
    color: var(--ion-color-tertiary);
}