<div class="nftInfoCont">
  <div class="userCont">
    <img src="/assets/imgs/user5.png" class="userImg">
    <div class="txtCont">
      <p class="userRole">Owner</p>
      <p class="bold my-0">oArts.io</p>
    </div>
  </div>
</div>
<div class="nftInfoCont">
  <div class="userCont">
    <img src="/assets/imgs/user5.png" class="userImg">
    <div class="txtCont">
      <p class="userRole">Creator</p>
      <p class="bold my-0">oArts.io</p>
    </div>
  </div>
  <ion-button color="primary" class="createBtn" expand="block">12% of sales will go to creater</ion-button>
</div>

<div class="nftInfoCont">
  <div class="userCont">
    <img src="/assets/imgs/user3.png" class="userImg">
    <div class="txtCont">
      <p class="userRole">Collection (ERC721)</p>
      <p class="bold my-0">Rerible</p>
    </div>
  </div>
</div>
