<div class="box" [ngStyle]="{'background-color':'#'+colors[index]}">
    <textarea #myInput id="myInput" rows="1" maxLength="500" placeholder="Type a status" (keyup)="resize()" [(ngModel)]="status"></textarea>

</div>
<ion-button class="colorChange" fill="clear" (click)="change()">
    <ion-icon name="color-palette" slot="icon-only"></ion-icon>
</ion-button>
<ion-button class="send" *ngIf="getTrim(status)" fill="clear" (click)="send()">
    <ion-icon name="send" slot="icon-only"></ion-icon>
</ion-button>