<ion-tabs>

  <ion-tab-bar class="bgGradient" slot="bottom">
    <ion-tab-button tab="tab1">
      <img src="./assets/imgs/home 1 (1).png">
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <img src="./assets/imgs/mail 1.png">
    </ion-tab-button>

    <ion-tab-button class="middleTab" tab="tab3">
      <img src="./assets/imgs/Vector (4).png">
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <img src="./assets/imgs/bell 1.png">
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <img src="./assets/imgs/music 1.png">
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>