<ion-header class="gradientHeader">
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <img src="./assets/imgs/Logo.png">
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="newsFeedPost bg-white rounded mb-1">
        <ion-item class="rounded" lines="none">

            <div class="circle" slot="start">A</div>
            <ion-label>
                <h5 class="dark">Admin Post
                </h5>
                <p>May 26 at 9:15 AM</p>
            </ion-label>
            <ion-icon (click)="presentActionSheet()" name="chevron-down" slot="end" color="primary"></ion-icon>
        </ion-item>
        <ion-item lines="none">
            <ion-label class="ion-text-wrap mb-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate itaque aperiam odio, iste tempore sapiente illum excepturi saepe incidunt dignissimos, voluptatum perspiciatis, sed earum commodi. Quo sequi labore facilis a?</p>
            </ion-label>
        </ion-item>
        <ion-item lines="none" style="margin-left: 14px !important;">
            <ion-label>
                <p>146 Yes</p>
            </ion-label>
            <ion-label>
                <p> 200 No</p>
            </ion-label>
            <ion-label>
                <p> 40k watching</p>
            </ion-label>
        </ion-item>
        <hr />
        <ion-row>
            <ion-col size="4">
                <ion-button expand="block" color="success">
                    Yes
                </ion-button>
            </ion-col>
            <ion-col size="4">
                <ion-button expand="block" color="danger">
                    No
                </ion-button>
            </ion-col>
            <ion-col size="4">
                <ion-button expand="block" color="primary" routerLink="/watch-debate">
                    Watch
                </ion-button>
            </ion-col>


        </ion-row>
    </div>
    <div class="newsFeedPost bg-white rounded mb-1">
        <ion-item class="rounded" lines="none">

            <div class="circle" slot="start">A</div>
            <ion-label>
                <h5 class="dark">Admin Post
                </h5>
                <p>May 26 at 9:15 AM</p>
            </ion-label>
            <ion-icon (click)="presentActionSheet()" name="chevron-down" slot="end" color="primary"></ion-icon>
        </ion-item>
        <ion-item lines="none">
            <ion-label class="ion-text-wrap mb-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate itaque aperiam odio, iste tempore sapiente illum excepturi saepe incidunt dignissimos, voluptatum perspiciatis, sed earum commodi. Quo sequi labore facilis a?</p>
            </ion-label>
        </ion-item>
        <ion-item lines="none" style="margin-left: 14px !important;">
            <ion-label>
                <p>146 Yes</p>
            </ion-label>
            <ion-label>
                <p> 200 No</p>
            </ion-label>
            <ion-label>
                <p> 40k watching</p>
            </ion-label>
        </ion-item>
        <hr />
        <ion-row>
            <ion-col size="4">
                <ion-button expand="block" color="success">
                    Yes
                </ion-button>
            </ion-col>
            <ion-col size="4">
                <ion-button expand="block" color="danger">
                    No
                </ion-button>
            </ion-col>
            <ion-col size="4">
                <ion-button expand="block" color="primary" routerLink="/watch-debate">
                    Watch
                </ion-button>
            </ion-col>


        </ion-row>
    </div>
    <div class="newsFeedPost bg-white rounded mb-1">
        <ion-item class="rounded" lines="none">

            <div class="circle" slot="start">A</div>
            <ion-label>
                <h5 class="dark">Admin Post
                </h5>
                <p>May 26 at 9:15 AM</p>
            </ion-label>
            <ion-icon (click)="presentActionSheet()" name="chevron-down" slot="end" color="primary"></ion-icon>
        </ion-item>
        <ion-item lines="none">
            <ion-label class="ion-text-wrap mb-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate itaque aperiam odio, iste tempore sapiente illum excepturi saepe incidunt dignissimos, voluptatum perspiciatis, sed earum commodi. Quo sequi labore facilis a?</p>
            </ion-label>
        </ion-item>
        <ion-item lines="none" style="margin-left: 14px !important;">
            <ion-label>
                <p>146 Yes</p>
            </ion-label>
            <ion-label>
                <p> 200 No</p>
            </ion-label>
            <ion-label>
                <p> 40k watching</p>
            </ion-label>
        </ion-item>
        <hr />
        <ion-row>
            <ion-col size="4">
                <ion-button expand="block" color="success">
                    Yes
                </ion-button>
            </ion-col>
            <ion-col size="4">
                <ion-button expand="block" color="danger">
                    No
                </ion-button>
            </ion-col>
            <ion-col size="4">
                <ion-button expand="block" color="primary" routerLink="/watch-debate">
                    Watch
                </ion-button>
            </ion-col>


        </ion-row>
    </div>
    <div class="newsFeedPost bg-white rounded mb-1">
        <ion-item class="rounded" lines="none">

            <div class="circle" slot="start">A</div>
            <ion-label>
                <h5 class="dark">Admin Post
                </h5>
                <p>May 26 at 9:15 AM</p>
            </ion-label>
            <ion-icon (click)="presentActionSheet()" name="chevron-down" slot="end" color="primary"></ion-icon>
        </ion-item>
        <ion-item lines="none">
            <ion-label class="ion-text-wrap mb-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate itaque aperiam odio, iste tempore sapiente illum excepturi saepe incidunt dignissimos, voluptatum perspiciatis, sed earum commodi. Quo sequi labore facilis a?</p>
            </ion-label>
        </ion-item>
        <ion-item lines="none" style="margin-left: 14px !important;">
            <ion-label>
                <p>146 Yes</p>
            </ion-label>
            <ion-label>
                <p> 200 No</p>
            </ion-label>
            <ion-label>
                <p> 40k watching</p>
            </ion-label>
        </ion-item>
        <hr />
        <ion-row>
            <ion-col size="4">
                <ion-button expand="block" color="success">
                    Yes
                </ion-button>
            </ion-col>
            <ion-col size="4">
                <ion-button expand="block" color="danger">
                    No
                </ion-button>
            </ion-col>
            <ion-col size="4">
                <ion-button expand="block" color="primary" routerLink="/watch-debate">
                    Watch
                </ion-button>
            </ion-col>


        </ion-row>
    </div>
</ion-content>