<ion-header class="gradientHeader">
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <img src="./assets/imgs/Logo.png">
        </ion-title>
        <ion-buttons slot="end">
            <ion-button routerLink="/advance-search" color="light">
                <ion-icon name="search" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-row class="segmentBtns">
        <ion-col size="6">
            <ion-button fill="clear" (click)="activeTab='feed'" [class.inactiveTab]="activeTab!='feed'"
                [class.activeTab]="activeTab=='feed'" class="leftBtn" shape="round" expand="block">
                <img src="./assets/imgs/tab1.png"> Feed
            </ion-button>
        </ion-col>
        <ion-col size="6">
            <ion-button routerLink="/nft-home" fill="clear" [class.inactiveTab]="activeTab!='nemesis'"
                [class.activeTab]="activeTab=='nemesis'" class="rightBtn" shape="round" expand="block">
                NFT's <img src="./assets/imgs/tab2.png">
            </ion-button>
        </ion-col>
    </ion-row>

</ion-header>

<ion-content fullScreen="true" [scrollEvents]="true" (ionScroll)="didScroll($event)">
    <ion-item *ngIf="showLoading" class="loadingItem ion-no-padding ion-no-margin">
        <img style="width: 40px; height: 40px;" src="../../assets/imgs/uploading.gif">
        <ion-label>
            <p>Uploading Post</p>
        </ion-label>
    </ion-item>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles">
        </ion-refresher-content>
    </ion-refresher>
    <div *ngIf="activeTab=='feed'">
        <div *ngIf="this.postData">
            <div *ngFor="let post of allPosts ; index as i" class="newsFeedPost bg-white rounded mb-1">
                <ion-item class="rounded" lines="none">
                    <ion-avatar (click)="othersProfile(post.uid)" slot="start">
                        <img [src]="service.usersData[post.uid].profileUrl || './assets/imgs/user3.png'">
                    </ion-avatar>
                    <ion-label>
                        <h5 class="dark">{{service.usersData[post.uid].fullName}} <small class="gray"><img
                                    style="margin: 0px 2px -3px 3px;" src="../../assets/imgs/correct 1.png"><span
                                    style="margin-left: 5px;">Posted a text</span></small>
                        </h5>
                        <p>{{post.timestamp | date:'MMM d'}} at {{post.timestamp | date:'h:mm a'}}</p>
                    </ion-label>
                    <ion-icon (click)="presentActionSheet()" name="chevron-down" slot="end" color="primary"></ion-icon>
                </ion-item>
                <ion-slides pager="true" [options]="slideOpts">
                    <ion-slide *ngFor="let image of post.postImages;">
                        <img class="w-100" [src]="image" (click)="viewImage(post.postImages)" style="height: 100%;">
                    </ion-slide>
                    <ion-slide *ngFor="let video of post.postVideos">
                        <video controls class="w-100" (playing)="onPlayingVideo($event)" #player playsinline
                            preload="auto" [poster]="post.postVideos"
                            style="object-fit: cover !important;height: 300px;">
                            <source [src]="video" type="video/mp4">
                        </video>
                    </ion-slide>
                </ion-slides>


                <ion-item lines="none">
                    <ion-label class="ion-text-wrap mb-0">
                        <p>{{post.postMessage}}</p>
                    </ion-label>
                </ion-item>
                <ion-item lines="none" style="margin-left: 14px !important;">
                    <ion-label *ngIf="post.likes">
                        <p>{{post?.likes.length}} Likes</p>
                    </ion-label>
                    <ion-label *ngIf="!post.likes">
                        <p> Likes</p>
                    </ion-label>
                    <ion-label *ngIf="post.dislikes">
                        <p>{{post?.dislikes.length}} Dislikes</p>
                    </ion-label>
                    <ion-label *ngIf="!post.dislikes">
                        <p> Dislikes</p>
                    </ion-label>
                    <ion-label *ngIf="post.comments">
                        <p>{{post?.comments.length}} Comments</p>
                    </ion-label>
                    <ion-label *ngIf="!post.comments">
                        <p> Comments</p>
                    </ion-label>
                </ion-item>
                <hr />
                <ion-row class="socialBtns">
                    <ion-col size="1"></ion-col>
                    <ion-col size="3">
                        <div [class.activeBtn]="post.likes?.includes(this.uid)" (click)="toLike(post)"
                            [class.gray]="!post.likes?.includes(this.uid)">
                            <div class="imgContainer">
                                <img src="./assets/imgs/like.png">
                            </div>
                            <p class="actionColor" style="padding: 0px;margin:5px;">Like</p>
                        </div>
                    </ion-col>
                    <ion-col size="4">
                        <div [class.activeBtn]="post.dislikes?.includes(this.uid)" style="margin-left: 22px;"
                            (click)="toDislike(post)" [class.gray]="!post.dislikes?.includes(this.uid)">
                            <div class="imgContainer">
                                <img src="./assets/imgs/dislike.png">
                            </div>
                            <p class="actionColor" style="padding: 0px;margin:5px 5px 5px 0px;">Dislike</p>
                        </div>

                    </ion-col>
                    <ion-col size="4">
                        <div (click)="toComments(i)" class="gray" style="margin-left: 22px;">
                            <div class="imgContainer">
                                <img src="./assets/imgs/comment.png">
                            </div>
                            <p style="padding: 0px;margin:5px 5px 5px -8px;">Comment</p>
                        </div>
                    </ion-col>
                </ion-row>
                <hr />


                <ion-item lines="none" *ngFor="let comment of post.comments | slice:0:1;index as i">
                    <ion-avatar (click)="othersProfile(comment.uid)" slot="start">
                        <img [src]="service.usersData[comment.uid].profileUrl">
                    </ion-avatar>
                    <ion-label>
                        <h5>{{service.usersData[comment.uid].fullName}}</h5>
                        <p>{{comment.comment}}</p>
                    </ion-label>

                </ion-item>



                <ion-row class="comments" (click)="toComments(i)">
                    <ion-col size="2" class="ion-text-center" (click)="toComments(i)">
                        <img [src]="service.usersData[uid].profileUrl || './assets/imgs/user3.png'" class="postImage">
                    </ion-col>
                    <ion-col size="10" (click)="toComments(i)">
                        <ion-item lines="none" (click)="toComments(i)">
                            <ion-input type="text" (click)="toComments(i)" [(ngModel)]="comment"
                                placeholder="Write a comment...">
                            </ion-input>
                            <img class="slotedEnd" src="/assets/imgs/GIF.png" slot="end">
                            <img class="slotedEnd" src="/assets/imgs/smile 1.png" slot="end">
                        </ion-item>
                    </ion-col>
                </ion-row>

            </div>
        </div>

        <div *ngIf="!this.postData">

            <div *ngFor="let post of allItems ; index as i" class="newsFeedPost bg-white rounded mb-1">
                <ion-item class="rounded" lines="none">
                    <ion-avatar slot="start">
                        <ion-spinner></ion-spinner>
                    </ion-avatar>
                    <ion-label>
                        <ion-skelton-text animated></ion-skelton-text>
                    </ion-label>
                </ion-item>
                <div style="height: 150px;">
                    <ion-skelton animated></ion-skelton>
                </div>
            </div>
            <ion-item lines="none">
                <ion-label class="ion-text-wrap mb-0">
                    <ion-skelton-text animated></ion-skelton-text>
                </ion-label>
            </ion-item>

            <hr />
            <ion-row class="socialBtns">
                <ion-col size="1"></ion-col>
                <ion-col size="3">
                    <div>
                        <div class="imgContainer">
                            <img src="./assets/imgs/like.png">
                        </div>
                        <p class="actionColor" style="padding: 0px;margin:5px;">Like</p>
                    </div>
                </ion-col>
                <ion-col size="4">
                    <div>
                        <div class="imgContainer">
                            <img src="./assets/imgs/dislike.png">
                        </div>
                        <p class="actionColor" style="padding: 0px;margin:5px 5px 5px 0px;">Dislike</p>
                    </div>

                </ion-col>
                <ion-col size="4">
                    <div>
                        <div class="imgContainer">
                            <img src="./assets/imgs/comment.png">
                        </div>
                        <p style="padding: 0px;margin:5px 5px 5px -8px;">Comment</p>
                    </div>
                </ion-col>
            </ion-row>
        </div>
    </div>


    <div *ngIf="activeTab=='nemesis'">
        <ion-slides style="height: 60vh;" pager="true" [options]="slideOpts">
            <ion-slide>
                <img src="./assets/imgs/slide1.png">
            </ion-slide>
            <ion-slide>
                <img src="./assets/imgs/slide2.png">
            </ion-slide>
        </ion-slides>
    </div>


    <ion-fab *ngIf="activeTab=='feed' && service.currentMusic" class="mb-5" slot="fixed" vertical="bottom"
        horizontal="end">
        <ion-fab-button [style.transform]="'rotate(' + rotation + 'deg)'" routerLink="/tabs/tab5">
            <img src="./assets/imgs/music.png">
        </ion-fab-button>
    </ion-fab>
    <ion-fab *ngIf="activeTab=='feed'" slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button (click)="createPost=true">
            <img src="./assets/imgs/create.png">
        </ion-fab-button>
    </ion-fab>

    <ion-fab *ngIf="activeTab=='nemesis'" slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button routerLink="/tabs/tab1/join-nemesis">
            <img src="./assets/imgs/Mask Group.png">
        </ion-fab-button>
    </ion-fab>

</ion-content>

<div (click)="closeModal($event)" id="mainContainer" *ngIf="createPost" class="createPostSheet">
    <div class="innerContent bg-white ion-padding-start">
        <p (click)="createPost=false" class="ion-text-center ion-no-margin ion-padding pt-0">
            <span class="closeBar">123</span>
        </p>
        <p class="gray appTxt mt-0">
            <img src="./assets/imgs/lock 1.png"> Create a post
        </p>
        <ion-item lines="none">
            <ion-textarea rows="3" [(ngModel)]="postMessage" placeholder="Write here..."></ion-textarea>
        </ion-item>

        <ion-row *ngIf="postImgUrl.length" class=" ion-padding">
            <ion-col size="3" *ngFor="let image of postImgUrl;">
                <img class="rounded imgPost" [src]="image" style="position: relative;">
                <ion-icon name="close" class="crossIcon" (click)="this.postImgUrl=[]"></ion-icon>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="postVideoUrl.length" class=" ion-padding">
            <ion-col size="3" *ngFor="let video of postVideoUrl;">
                <video controls class="imgPost">
                    <source [src]="video" type="video/mp4">
                </video>
                <ion-icon name="close" class="crossIcon" (click)="this.postVideoUrl=[]"></ion-icon>
            </ion-col>
        </ion-row>


        <input id="galleryMedia" style="display: none;" type="file" accept="image/jpeg, image/png, video/mp4" multiple
            (change)="onChangeFileGallery($event)">
        <ion-item lines="none">
            <img slot="start" (click)="toGalleryMedia()" src="./assets/imgs/Attach Image.png">
            <img slot="start" src="./assets/imgs/Article.png">
            <img slot="start" src="./assets/imgs/Group 50.png">
            <ion-button (click)="savePost()" fill="clear" slot="end">Post</ion-button>
        </ion-item>
    </div>
</div>