// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #ff4244;
  --ion-color-primary-rgb: 255, 66, 68;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #e03a3c;
  --ion-color-primary-tint: #ff5557;

  /** secondary **/
  --ion-color-secondary: #ff714d;
  --ion-color-secondary-rgb: 255, 113, 77;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #e06344;
  --ion-color-secondary-tint: #ff7f5f;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /* light */
  --ion-color-light: #fafafa;
  --ion-color-light-rgb: 255, 255, 255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #f1f1f1;
  --ion-color-light-tint: #f5f5f5;

  /* lighter */
  --ion-color-lighter: #ffffff;
  --ion-color-lighter-rgb: 255, 255, 255;
  --ion-color-lighter-contrast: #ff4244;
  --ion-color-lighter-contrast-rgb: 0, 0, 0;
  --ion-color-lighter-shade: #e0e0e0;
  --ion-color-lighter-tint: #f9f9f9;

  .primary {
    color: var(--ion-color-primary);
  }

  .secondary {
    color: var(--ion-color-secondary);
  }

  .tertiary {
    color: var(--ion-color-tertiary);
  }

  .success {
    color: var(--ion-color-success) !important;
  }

  .warning {
    color: var(--ion-color-warning);
  }

  .gray {
    color: var(--ion-color-medium) !important;
  }

  .dark {
    color: var(--ion-color-dark);
  }

  .light {
    color: var(--ion-color-light);
  }

  .danger {
    color: var(--ion-color-danger) !important;
  }

  .white {
    color: var(--ion-color-lighter);
  }

  .bg-white {
    background-color: var(--ion-color-lighter);
  }

  .bg-primary {
    background-color: var(--ion-color-primary);
    --background: var(--ion-color-primary);
  }

  .bg-secondary {
    background-color: var(--ion-color-secondary);
    --background: var(--ion-color-secondary);
  }

  .bg-light {
    background-color: var(--ion-color-light);
    --background: var(--ion-color-light);
  }

  .bg-gray {
    background-color: var(--ion-color-medium);
    --background: var(--ion-color-medium);
  }

  .bg-dark {
    background-color: var(--ion-color-dark);
    --background: var(--ion-color-dark);
  }

  ion-header {
    ion-title {
      text-transform: capitalize;
    }
    ion-back-button,
    ion-menu-button,
    ion-title,
    ion-button {
      color: var(--ion-color-lighter) !important;
    }
    --ion-toolbar-background: transparent !important;
    background: linear-gradient(92.89deg, #ff714d -9.4%, #ff4244 111.54%) !important;

    &.gradientHeader {
      background-image: url("/assets/imgs/bgShapes.png"), linear-gradient(92.89deg, #ff714d -9.4%, #ff4244 111.54%) !important;
      border-radius: 0 0 20px 20px !important;
    }
  }

  ion-content {
    --background: var(--ion-color-light) !important;
  }

  .bgGradient {
    background: linear-gradient(92.89deg, #ff714d -9.4%, #ff4244 111.54%) !important;
    --background: linear-gradient(92.89deg, #ff714d -9.4%, #ff4244 111.54%) !important;
  }

  .header-md::after,
  .footer-md::before {
    background-image: none !important;
  }
}
