<ion-header class="gradientHeader">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>change password</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

    <ion-item lines="none" class="mb-1 rounded">
        <ion-icon name="ios-lock" slot="start" color="medium"></ion-icon>
        <ion-input type="password" placeholder="Current Password" [(ngModel)]="currentPassword"></ion-input>
    </ion-item>
    <ion-item lines="none" class="mb-1 rounded ">
        <ion-icon name="ios-lock" slot="start" color="medium"></ion-icon>
        <ion-input type="password" placeholder="New Password" [(ngModel)]="newPassword"></ion-input>
    </ion-item>
    <ion-item lines="none" class="mb-1 rounded">
        <ion-icon name="ios-lock" slot="start" color="medium"></ion-icon>
        <ion-input type="password" placeholder="Confirm Password" [(ngModel)]="confirmNewPassword"></ion-input>
    </ion-item>
    <ion-button color="secondary" class="h-50 ion-no-margin" (click)="updatePassword()" [disabled]="!currentPassword || !newPassword || !confirmNewPassword" expand="block">Update</ion-button>

</ion-content>