<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content fullScreen="true">

    <div class="upperDiv">
        <img src="./assets/imgs/user4.png">
        <div class="userInfo ion-text-center">
            <p class="white">Angelina Julie<br> Paris, France</p>
            <ion-button shape="round">Follow</ion-button>
        </div>
        <ion-button class="rightTop" size="small">00:30</ion-button>
        <ion-button class="floatingImgs leftBottom" size="small">Yes</ion-button>
    </div>

    <div class="bottomDiv">
        <img src="./assets/imgs/user5.png">

        <div class="userInfo ion-text-center" style="top: 0px;">
            <p class="white">Angelina Julie<br>Paris, France</p>
            <ion-button shape="round">Follow</ion-button>
            <!-- <ion-button shape="round">00:30</ion-button> -->
        </div>
        <ion-button class="rightBottom" (click)="toSpeakNext()">Speak Next</ion-button>
        <ion-button class="floatingImgs leftTop" size="small">No</ion-button>
        <ion-button class="rightTop" size="small">00:30</ion-button>


    </div>

</ion-content>