<ion-header class="gradientHeader">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>join nemesis</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullScreen="true" class="ion-padding">
    <div class="ion-padding bg-white rounded lightShadow mb-1">
        <img src="./assets/imgs/post1.png">
        <ion-item class="rounded" lines="none">
            <ion-label class="dark bold">Rap Battle</ion-label>
            <ion-button slot="end" routerLink="/rap-battle" shape="round">Join</ion-button>
        </ion-item>
    </div>

</ion-content>