<ion-header class="gradientHeader">
  <ion-toolbar mode="ios">
      <ion-buttons slot="start">
          <ion-back-button mode="md"></ion-back-button>
      </ion-buttons>
    <ion-title>Create Collectible</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="innerDiv">
    <div class="heading" >
        <h3 class="bold my-0 dark">Follow Steps</h3>
    </div>
    <div class="checkBoxCont">
        <div class="checkbox checked">
            <img src="/assets/imgs/checkMark.svg">
        </div>
        <div class="details">
            <h5 class="bold my-0 dark">Upload files</h5>
            <p>Prepare files for minting</p>
        </div>
    </div>
    <ion-button color="primary" expand="block" class="uploadBtn disabled">Upload files</ion-button>
    <div class="checkBoxCont">
        <div class="checkbox">
            <img src="/assets/imgs/checkMark.svg">
        </div>
        <div class="details">
            <h5 class="bold my-0 dark">Mini token</h5>
            <p>Call contact method</p>
        </div>
    </div>
    <ion-button color="primary" expand="block" class="uploadBtn">Mini Token</ion-button>
    <!-- <div class="checkBoxCont">
        <div class="checkbox">
            <img src="/assets/imgs/checkMark.svg">
        </div>
        <div class="details">
            <h5 class="bold my-0 dark">Sign sell order</h5>
            <p>Sign sell order using your wallet</p>
        </div>
    </div>
    <ion-button color="primary" expand="block" class="uploadBtn disabled">Sign sell order</ion-button> -->
  </div>
</ion-content>
<ion-footer >
  
</ion-footer>