<ion-header class="gradientHeader">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>terms services</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <h5>Introduction & Scope</h5>
    <p>Welcome, please read the following Terms and Conditions of Service (hereinafter, the “Terms”), applicable for the website www.nemesisvs.com (the “Site”) carefully. This is a legal agreement which sets out the terms and conditions on which Perennial
        Enterprises Inc. (hereinafter referred to as “Nemesis Vs”) will provide services to you or to the legal entity you represent ‘you’, ‘your’, and/or ‘yourself’. The terms ‘us’, ‘its’, ‘ours’ and/or ‘we’, as used herein, shall refer to us, Nemesis
        Vs and/or our affiliates, assignees, successors and/or brands. These Terms shall supplement our Privacy Policy (the “Policy”), incorporated herein by reference.</p>
    <h5>User Agreement & Acceptance</h5>
    <p>By accessing our Site you represent and warrant that you: (a) are 18 years of age or older; (b) agree to all of the terms and conditions stated herein; (c) have the right, power, and authority to bind your represented entity or the agency to these
        terms and conditions. These Terms constitute a legally binding user agreement, along with any and all applicable laws and regulations. Henceforth, you hereby acknowledge and covenant to abide by and comply with any applicable federal, state and
        local rules and regulations applicable to your use of our services. If you do not agree with any of these Terms, you are thereby prohibited from using or accessing this Site. The Site’s accessibility to the user is solely provided for the user’s
        individual benefit. If you are using our Site in representation of a corporate third party, you hereby represent and warrant that you have the necessary power and authority in order to execute this agreement. In order to use the functionalities
        and services provided, you will need to register for an account with us, thereby disclosing certain proprietary information, along with personally identifiable information.</p>
    <h5>Account Registration and Security</h5>
    <p>In order to use our Services, you may need to create an account with us, including all mandatory fields on our registration forms, as requested by us from time to time. You must provide accurate and complete information. You agree to keep secret the
        password chosen upon creating your account and not to communicate it to anybody. If you lose or disclose it, you must promptly inform us. You are solely responsible for the activity that occurs on your account and for keeping your password secure
        and confidential, and must notify us immediately of any breach of security or unauthorized use of your account. You will be liable for any and all misuse of your account, including the fraudulent use by a third party, or even the disclosure of
        your password. We reserve the right to request identification and compliance documents from our users, at any time and at our sole discretion.</p>
    <h5>Services Offered</h5>
    <p>Nemesis Vs provides, operates and manages a social network community which offers access to audio &amp; videos hosted on various third parties online. Our Services encompass a music-oriented social networking service, where users can add songs to
        their personal profile, make and create posts that promote songs and mixes, playlists, artists, albums and music-related content based on user input, selecting and indicating several item categories, such as age group, location and genre of your
        target market, types of musicians, mixes and genres preferred, etc. We may offer additional functionalities through the Site, as indicated from time to time (collectively referred to as, the “Services”)</p>
    <h5>Billing and Payment Terms</h5>
    <p>As a general rule, our Site is offered for free. Some of our Services are offered with specific functionalities accessible through a paid account. Four our advertising and special Service functions, you will find the costs and conditions on particular
        web pages in the Site from time to time. For our subscription offerings, we currently have three main tiers: [------------------], [------------------] and [------ ------------]. Your subscription will automatically renew until before the end
        of the then current subscription period (e.g. weekly or monthly). Your account will be charged for renewal within prior to the end of the current period. You can change your current subscription during the active period, and you will be able to
        use the paid functionalities of the Services until the subscription period ends. You can elect to upgrade, downgrade or cancel your subscription at any time, by accessing your account and following the necessary steps or by contacting our support
        team.</p>
    <h5>Payment Terms</h5>
    <p>We rely on authorized third-party payment processors in order to bill you through a payment account linked to you, and henceforth you hereby authorize us to charge the pertinent fees through your indicated payment processing account. Accordingly,
        Nemesis Vs shall not be held responsible for any and all errors, fees and currency conversion fees by the payment processor, and you should review its terms and policies from time to time, which will govern the provision of services to you. You
        must provide us with valid and current billing information. Except as expressly set forth herein, all payment charges are final and non-cancelable. If we detect any chargeback or if any payment is not received by us or our payment processors for
        any reason, you will promptly pay us any and all amounts due to us upon notice. Any failure or inability by us to process any payment hereunder does not relieve you from your payment obligations.</p>
    <h5>Refund Policy</h5>
    <p>If you have a problem with your payment, please contact us as soon as possible. Due to the nature of our Services, we do not generally offer any refunds, which will only be provided at our sole and final discretion. Please include a description of
        the Service’s functionality in question, including the reason for your technical query, your name, address, account info and payment details.</p>
    <h5>User Licenses</h5>
    <p><b>Limited License.</b> In order to access our Services, Nemesis Vs grants you a limited, non-exclusive, revocable and non-transferable license to utilize and access the Services. You are prohibited from duplicating, re-engineering, reverse engineering,
        modifying or otherwise using the Services, in whole or in part. Nemesis Vs does not grant any express or implied right to you under any patents, trademarks, copyrights or trade secret information; and you shall have no right, either directly or
        indirectly, to own, use, loan, sell, rent, lease, license, sublicense, assign, copy, translate, modify, adapt, improve or create any new or derivative works from, or display, distribute, perform or in any way exploit any downloaded Services and
        computer applications, in whole or in part. User Generated Content License. You hereby grant Nemesis Vs an unlimited, non-exclusive, sub-licensable, assignable, royalty-free, perpetual, irrevocable, for all the countries and territories through
        the world, right and license to use, host, store, reproduce, modify, create derivative works (such as those resulting from translations, adaptations or other changes), communicate, publish, publicly perform, publicly display and distribute such
        any content you may upload, disseminate, deliver, create or transfer any post, original audio file, message, chat, files uploaded, data inputted, e-mails sent, or otherwise any content delivered to Nemesis Vs via the Site or the Services. You
        represent and warrant to Nemesis Vs that you have all rights, authorizations or otherwise hold sufficient title for any and all content submitted to Nemesis Vs as set forth herein.
    </p>

</ion-content>