<ion-header class="gradientHeader">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="./assets/imgs/Logo.png">
    </ion-title>
  </ion-toolbar>
  <div class="searchbarCont">
    <ion-item class="searchBar" lines="none">
      <ion-avatar slot="start">
        <img src="./assets/imgs/search (2).png">
      </ion-avatar>
      <ion-input type="text" clearInput placeholder="Search..."></ion-input>
    </ion-item>
  </div>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col size="11" class="ion-no-padding">
      <ion-row>
        <ion-col size="6" class="pl-0" style="padding-right: 8px;">
          <ion-item lines="none" class="filterCont">
            <ion-select value="opt1">
              <ion-select-option value="opt1">Single item</ion-select-option>
              <ion-select-option value="opt2">Multiple item</ion-select-option>
            </ion-select>
            <ion-icon class="downArrow" name="chevron-down" slot="end"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col size="6" class="pr-0" style="padding-left: 8px;">
          <ion-item lines="none" class="filterCont">
            <ion-select value="opt1">
              <ion-select-option value="opt1">Sort by</ion-select-option>
              <ion-select-option value="opt2">Date</ion-select-option>
            </ion-select>
            <ion-icon class="downArrow" name="chevron-down" slot="end"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <div routerLink="/nft-details" class="nftCont">
        <div class="topHeading">
          <div class="userimgsCont">
            <img src="/assets/imgs/user5.png" class="userImg">
            <img src="/assets/imgs/user4.png" class="userImg">
            <img src="/assets/imgs/user10.png" class="userImg">
          </div>
          <ion-icon class="optBtn" name="ellipsis-horizontal"></ion-icon>
        </div>
        <img src="/assets/imgs/nftImg4.png" class="nftImg">
        <div class="detailsCont">
          <div class="details">
            <h5 class="my-0 bold">Ring of Trust</h5>
            <div class="ratingCont">
              <h5 class="primary my-0">0.332 ETH</h5>
              <p class="result pl-1">6 of 10</p>
            </div>
            <div class="ratingCont">
              <p class="result pr-1">Highest bid</p>
              <h5 class="tertiary my-0">0.005 WETH</h5>
            </div>
          </div>
          <ion-icon class="wishBtn" name="heart-outline"></ion-icon>
        </div>
      </div>
      <div routerLink="/nft-details" class="nftCont">
        <div class="topHeading">
          <div class="userimgsCont">
            <img src="/assets/imgs/user5.png" class="userImg">
            <img src="/assets/imgs/user4.png" class="userImg">
            <img src="/assets/imgs/user10.png" class="userImg">
          </div>
          <ion-icon class="optBtn" name="ellipsis-horizontal"></ion-icon>
        </div>
        <img src="/assets/imgs/nftImg5.png" class="nftImg">
        <div class="detailsCont">
          <div class="details">
            <h5 class="my-0 bold">Ring of Trust</h5>
            <div class="ratingCont">
              <h5 class="primary my-0">0.332 ETH</h5>
              <p class="result pl-1">6 of 10</p>
            </div>
            <div class="ratingCont">
              <p class="result pr-1">Highest bid</p>
              <h5 class="tertiary my-0">0.005 WETH</h5>
            </div>
          </div>
          <ion-icon class="wishBtn" name="heart-outline"></ion-icon>
        </div>
      </div>
      <div routerLink="/nft-details" class="nftCont">
        <div class="topHeading">
          <div class="userimgsCont">
            <img src="/assets/imgs/user5.png" class="userImg">
            <img src="/assets/imgs/user4.png" class="userImg">
            <img src="/assets/imgs/user10.png" class="userImg">
          </div>
          <ion-icon class="optBtn" name="ellipsis-horizontal"></ion-icon>
        </div>
        <img src="/assets/imgs/nftImg6.png" class="nftImg">
        <div class="detailsCont">
          <div class="details">
            <h5 class="my-0 bold">Ring of Trust</h5>
            <div class="ratingCont">
              <h5 class="primary my-0">0.332 ETH</h5>
              <p class="result pl-1">6 of 10</p>
            </div>
            <div class="ratingCont">
              <p class="result pr-1">Highest bid</p>
              <h5 class="tertiary my-0">0.005 WETH</h5>
            </div>
          </div>
          <ion-icon class="wishBtn" name="heart-outline"></ion-icon>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>