ion-header ion-toolbar {
  --min-height: 65px;
  --border-width: 0px;
}

ion-header .searchbarCont {
  padding: 0 16px 20px 16px;
}

ion-header .searchbarCont .searchBar {
  --inner-padding-end: 0px;
  --padding-start: 10px;
  --padding-end: 10px;
  --min-height: 50px;
  --border-radius: 10px;
  border-radius: 10px;
}

ion-header .searchbarCont .searchBar ion-avatar {
  margin: 0px 15px 0px 0px;
  height: 40px;
  width: 40px;
}

ion-content {
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-content .filterCont {
  --padding-start: 15px;
  --padding-end: 18px;
  --inner-padding-end: 0px;
  --min-height: 44px;
  border-radius: 8px;
  --border-radius: 8px;
  border: 1px solid #06123217;
}

ion-content .filterCont ion-select {
  --padding-end: 0px;
  --padding-start: 0px;
  font-size: 14px;
  --color: black;
  --placeholder-opacity: 1;
  min-width: 100%;
}

ion-content .filterCont ion-select::part(icon) {
  display: none;
}

ion-content .filterCont .downArrow {
  margin: 0px 0px 0px 8px;
  font-size: 20px;
  color: var(--ion-color-dark);
  --color: var(--ion-color-dark);
}

ion-content .nftCont {
  border: 1px solid #DFDFDF;
  border-radius: 12px;
  min-height: 70vw;
  padding: 15px;
  margin: 15px 0px 0px 0px;
  background: white;
}

ion-content .nftCont .topHeading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ion-content .nftCont .topHeading .optBtn {
  font-size: 24px;
  color: #8D8D8D;
}

ion-content .nftCont .userimgsCont {
  width: 80%;
}

ion-content .nftCont .userimgsCont .userImg {
  height: 32px;
  width: 32px;
  border: 1px solid white;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: 0px 0px 0px -13px;
}

ion-content .nftCont .userimgsCont .userImg:first-child {
  margin: 0px !important;
}

ion-content .nftCont .nftImg {
  width: 100%;
  height: 77vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin: 18px 0px;
  vertical-align: middle;
}

ion-content .nftCont .detailsCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ion-content .nftCont .detailsCont .details {
  width: 80%;
}

ion-content .nftCont .detailsCont .details .ratingCont {
  margin: 6px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ion-content .nftCont .detailsCont .details .ratingCont h5 {
  font-size: 16px;
}

ion-content .nftCont .detailsCont .details .ratingCont .result {
  color: var(--ion-color-medium);
  margin: 0px;
  font-size: 15px;
}

ion-content .nftCont .detailsCont .wishBtn {
  font-size: 28px;
  color: #8D8D8D;
  margin-bottom: 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
/*# sourceMappingURL=nft-list.page.css.map */