ion-content {
    .chatMsg {
        font-size: 14px;
        margin: 0px;
        width: fit-content;
        max-width: 80%;
        padding: 12px 12px 25px 12px;
        clear: both;
        border-radius: 10px;
        position: relative;
    }
    .msgTime {
        font-size: 10px;
        color: #646464;
        margin: 5px 0px 12px 20px;
        ion-icon {
            font-size: 15px;
            position: absolute;
            bottom: 10px;
            right: 3em;
        }
    }
    .incomingMsg {
        margin-bottom: 10px;
        .chatMsg {
            background-color: #f7f7f7;
            color: var(--ion-color-dark);
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
    .outgoingMsg {
        margin-bottom: 10px;
        display: flow-root;
        .chatMsg {
            float: right;
            background: linear-gradient(92.89deg, #ff714d -9.4%, #ff4244 111.54%);
            color: #ffffff;
            padding: 12px 12px 0;
        }
        .msgTime {
            float: right;
            color: #f7f7f7;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
}

ion-footer {
    ion-item {
        border-radius: 30px !important;
        border: 1px solid #f1f1f1 !important;
        .slotedStart {
            margin-right: 10px !important;
        }
        .slotedEnd {
            margin-left: 10px !important;
        }
    }
}

.selected {
    background: #D3D3D3 !important;
}

.likeButtons {
    position: absolute;
    top: 9px;
    right: 49px;
    --background: #f7f7f7;
}